<% if current_page?(about_path) %>
  <div class="jumbotron-2 parallax win-height100" >
    <div class = "container c-right container-sm">
      <div class="row marketing">
        <div class="col-lg-6">
        <!-- sth here -->
        </div>    
        <div class="col-lg-6" style="min-height: 30rem;">
          <%= render "shared/cv_index_hello" %>
        </div>
      </div>
    </div>
</div>
<% end %>