<p><%= cv_other.title %></p>
<p><%= cv_other.subtitle %></p>
<p><%= cv_other.content %></p>
<p><%= image_tag cv_other.image if !cv_other.image.nil? %></p>

<%= crud_helper("Edit",cv_other.title,edit_portfolio_path(cv_other),nil) %>
<%= crud_helper("Delete",cv_other.title,nil,cv_other) %>
