<p><%= cv_education.title %></p>
<p><%= cv_education.subtitle %></p>
<p><%= cv_education.content %></p>
<p><%= image_tag cv_education.image if !cv_education.image.nil? %></p>

<%= crud_helper("Edit",cv_education.title,edit_portfolio_path(cv_education),nil) %>
<%= crud_helper("Delete",cv_education.title,nil,cv_education) %>
