<p><%= cv_presentation.title %></p>
<p><%= cv_presentation.subtitle %></p>
<p><%= cv_presentation.content %></p>
<p><%= image_tag cv_presentation.image if !cv_presentation.image.nil? %></p>


<%= crud_helper("Edit",cv_presentation.title,edit_portfolio_path(cv_presentation),nil) %>
<%= crud_helper("Delete",cv_presentation.title,nil,cv_presentation) %>
