<p><%= cv_experience.title %></p>
<p><%= cv_experience.subtitle %></p>
<p><%= cv_experience.content %></p>
<p><%= image_tag cv_experience.image if !cv_experience.image.nil? %></p>


<%= crud_helper("Edit",cv_experience.title,edit_portfolio_path(cv_experience),nil) %>
<%= crud_helper("Delete",cv_experience.title,nil,cv_experience) %>
