<%= form_with(model: curriculum_item, local: true) do |form| %>
  
  <div class="container">

    <% if curriculum_item.errors.any? %>    
      <% curriculum_item.errors.full_messages.each do |message| %>
      <%= alert_generator error %>
      <% end %>
    <% end %>

    <div class="row marketing">
      <div class="col-md-6" style="padding-left: 1rem; padding-right: 1rem;">
        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :subtitle %>
          <%= form.text_area :subtitle, class: "form-control", rows: 3 %>
        </div>
        <div class="form-group">
          <p> CV Category </p>
            <%= form.text_field :category_id, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :content %>
          <%= form.text_area :content, class: "form-control", rows: 12 %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= form.submit "Create" , class: "btn btn-dark text-white"  %>
    </div> 
  </div>
<% end %>


