
<%= form_with(model: portfolio_item, local: true) do |form| %>
  <% if portfolio_item.errors.any? %>
    <% portfolio_item.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>
  <div class="row marketing">
    <div class="col-md-6">
      <div class=" form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class=" form-group">
        <%= form.label :subtitle %>
        <%= form.text_area :subtitle, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <br>
      <div class=" form-group">
        <label class="btn btn-green btn-padding text-white"> Upload a main image file
          <%= form.file_field :main_image, style: 'display:none' %>
        </label>
        <label class="btn btn-green btn-padding text-white"> Upload a button image file
        <%= form.file_field :button_image, style: 'display:none' %>
        </label>
        <br>
        <div class=" form-group tech-tag">
          <p> Tags for Portfolio item </p>
          <%= form.fields_for :technology_tags do |tech_form|%>
            <%= render 'technology_tag_fields', f: tech_form %>
          <% end %>
        </div>
        <div>
          <%= link_to_add_association 'Add Technology', form, :technology_tags %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
        <div class=" form-group">
          <%= form.label :content %>
          <%= form.text_area :content, class: "form-control", rows: 13%>
       </div>
    </div>
  </div>
  <div class="action">
    <%= form.submit "SUBMIT", class: "btn btn-green btn-padding text-white" %>
  </div>
<% end %>


