<div class="col-md-4"> 
  <div class="card" data-id="<%= portfolio_item.id %>">
    <p>
      <a href="<%= portfolio_path(portfolio_item) %>">
        <%= image_tag  portfolio_img(portfolio_item.button_image, 'thumb'), width: '100%', height: '200px'  %> 
      </a>
    </p>
    <p class="card-text">
    	<span><%= link_to portfolio_item.title, portfolio_path(portfolio_item) %></span>
    	<%= crud_helper("Edit",portfolio_item.title,edit_portfolio_path(portfolio_item),nil) %>
      <%= crud_helper("Delete",portfolio_item.title,nil,portfolio_item) %>
    </p>
  </div>
</div>

