<% if current_page?(portfolios_path) %>
	<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">My projects</h1>
      <p class="lead text-muted " > 
        Here I'd like to share with you my favourite projects- some of them are simple and small, some of them are bigger. 
        In this portfolio I show all my work - in acoustics and any regular or web appss.
      </p>
      <p>
        <%= link_to "See about me", about_path, class: "btn btn-green text-white"%> 
        <%= link_to "Contact", contact_path, class: "btn btn-green-secondary text-white" %>
      </p>
      <p>
        <%= crud_helper("New","Portfolio",new_portfolio_path,nil) %>
      </p>
    </div>
	</section>
<% end %>