<div class="site-wrapper">
	<div class="site-wrapper-inner">
 		<div class="cover-container">
			 <div class="jumbotron container portfolio-container">
			 	<h1 class="jumbotron-heading"> Edit: </h1>
				<%= render 'form', portfolio_item: @portfolio_item %>
			 </div>
		</div>
	</div>
</div>