<div class="album text-muted">
  <div class="container">
      <div class="row <%= sortable_helper %> ">
  			<%= render partial: 'portfolio_item', collection: @portfolio_items %>		
		</div>
	</div>
</div>

