<section class="jumbotron text-center jumber">
    <div class="container  portfolio-contain">      	
      <h1 class="jumbotron-heading">New Portfolio item</h1>
      <br>
      <%= render 'form', portfolio_item: @portfolio_item %>
    </div>
</section>
