<div class="container text-center portfolio-container"> 
 	<div class="row marketing" >
 		<div class="col-md-4 ">  	
		  <h4><strong><%= @portfolio_item.title %> </strong></h4>
			<br>
			<p class="text-left" style="padding-left: 2%;">
				<%= @portfolio_item.subtitle %>
			</p>
     	<br>
			<p class="text-left" style="padding-left: 2%;">
				<i>Technologies used: </i>
			</p>
			<% @portfolio_item.technology_tags.each do |t| %>
        <p class="text-left" style="padding-left: 3.5%;"> <%= t.name %></p>
      <% end %>
			<hr>	
		</div>
		<div class="col-md-8  main-img">	
			<p><%= image_tag portfolio_img(@portfolio_item.main_image, 'full'), width: '95%' %></p>
		</div>
	</div>
	<div class="col-md-12"> 
		<p>
			<!-- <%= @portfolio_item.content %> -->
			<%= markdown @portfolio_item.content %>
		</p>
	</div>
	<div class="text-left">
		<%= link_to "View All", portfolios_path %> 	
	</div>
</div>
