<div style="padding-top: 2rem;">
	<div class="row marketing">
		<div class="col-md-4" >
			<img src="images/matlab" class="icons">
		</div>
		<div class="col-md-4" >
			<img src="images/rails" class="icons" >
		</div>
		<div class="col-md-4" >
			<img src="images/ruby"  class="icons">
		</div>
	</div>
</div>