<div class="jumbotron jumbo-3 parallax-2">
 <div class="container-sm  c-right" style="padding-top: 1.2rem;">
    <div class="row marketing skill">
      <div class="col-lg-6 ">
      </div>
      <div class="col-lg-6 skill col-skill " style="background-color: rgba(31,31,31,0.45);">
        <h3 class="cv-txt text-white text-shadows">My knowledge</h3>
        <p class="">
        </p>
        <p class="cv-items cv-justify text-white text-shadows">
           I have experience in using <b>Matlab</b> for signal processing. Right now, because of studies, most of the time I use <b>Python</b>, a little C (e.g. for parallel programming course) and sometimes Java. 
         </p>
    	 <p class="text-white text-shadows">
          My side-projects are mostly WEB apps created in <b>Ruby</b> using <b>Rails</b> framework, but not only. Right now, I am making some web apps to try use at the same time some CI/CD techniques to improve my knowledge about these practices.
        <br>
        <%=render "shared/cv_skill_items" %>
      </div>
    </div> 
	</div>
</div>
