<div class="row">
	<div class="col-md-6 text-left">
	  <div style="padding: 3% 5%; ">
  	 	<br>
    	<h5 style="text-align: center;">SKILLS: </h5>
    	<br>
    	<ul style="list-style-type: square;">
    		<li>Ruby on Rails</li>
    		<li>GIT</li>
    		<li>Matlab</li>
    		<li>HTML</li>
    		<li>CSS</li>
    		<li>Python</li>
    		<li>C/C++</li>    		
    		<li>SQL</li>
            <li>Maven & Ant</li>
            <!--<li>CI/CD</li>
            <li>Jenkins</li>
            <li>Docker</li>-->
    	</ul>
    	<p class="custom-group text-white "> 
	      <a href="https://www.github.com/nejcik" class="fa-hover">
	      	<i class="fa fa-github fa-space fa-2x" aria-hidden="true"></i>
	      </a>   
	      <a href="https://www.gitlab.com/nejcik" class="fa-hover">
	      	<i class="fa fa-git fa-space fa-2x" aria-hidden="true"></i>
	      </a>
	    </p>
   	</div>
	</div>
	<div class="col-md-6 text-left text-sm text-shadows">  
	  <div style="padding: 1%; padding-left:2%;">
        <div style="padding-bottom: 0.5%;"> 
	  		<b>ACCENTURE LDC | Internship in DevOps team <b>
	  	</div>
	  	<p style="font-size: 70%;">[VII-... 2018]</p>
	  	<p class="text-sm-2"> 
	  		Improving agile techniques in development, such as implementing the automation of installation features prepared by developers e.g. for Oracle Retail app using Maven. 
	  	</p>
	   	<br>
	  	<h5 style="text-align: center;">JOB EXPERIENCE: </h5>
	  	<br>
        <div style="padding-bottom: 0.5%;">
	  		<b> RADIO KRAKÓW | Internship </b>
	  	</div>
	  	<p style="font-size: 70%;">[VII 2017]</p>
	  	<p class="text-sm-2">
	  		Participation in recordings of radio broadcasts.
	  	</p>
	  	<hr style="width:89%">
	  	<div style="padding-bottom: 0.5%;"> 
	  		<b>KFB | Acoustic measurements of railway noise </b>
	  	</div>	  
	  	<hr style="width:80%">
	  	<div style="padding-bottom: 0.5%;"> 
	  		<b>DELPHI | Algorithm project manager (Internship)</b>
	  	</div>
	  	<p style="font-size: 70%;">[VIII-XII 2016]</p>
	  	<p class="text-sm-2"> 
	  		Distributed algorithm engineering teams for Automotive Electronics Projects.Resourced planning and tracking. Supported process adherence and compliance with Quality Assurance standard.
	  	</p>
	  	  	
	  	<p style="font-size: 70%;">[VII 2017]</p>
	  	<p class="text-sm-2"> 
	  	</p>
		</div>
	</div>
</div>