<div class="jumbotron jumbo-2" style="">
  <div class=" container-sm">
		<div class="cv-items  container-sm">
			<div class="cv-items " >
				<h3 class="text-left topic">who am I?</h3>
				<p class="text-left cv-justify" style="margin-top: 0.3rem;" >
					My name is <b>Natalia Skowronek</b> and I am a graduate of <b>Acoustic Engineering</b> at <b>AGH University of Science and Technology</b> in Cracow, and a beginner self-taught developer. Right now I study <b>Applied Computer Science</b> (Computer Graphics and Image Processing) and work as an DevOps Intern.
				</p>
				<p class="text-left">
				</p>
			</div>
			<img src="http://www.thecuriouslycreative.com/wp-content/uploads/2016/09/Divider-Line-Swirls.png" style="width: 100%; opacity: 0.7; margin: 0.3rem;">
			<div class="cv-items">
				<h3 class="text-right topic">what do I do?</h3>
				<p class="text-right ">
					Before I became a developer I was trying to find something interesting as a career path. 
                    I really enjoyed learning about sound, that's why I was studying Acoustic Engineering. For most of the time I was getting knowledge about sound, vibration, noise and how to prevent the latter. 
                    But for me the most interesting thing in acoustics I found speech and everything that comes with it, meaning:  
                    processing it, speech recognition and any of its disorders. There are a lot of possibilities to help people 
                    (eg. by recognition systems). And that's how I became more interested in programming - I took up Matlab at first, then Python, C++ and other.
				</p>

				<p class="text-right">
					Then my friend encouraged me to participate in <a href="http://railsgirls.com/krakow" class="normal"> <b>Rails Girls</b></a> workshop and 
                    I just loved how easy it was to create a web app on your own, then I tried to learn something at home and realized that this is a challenge 
                    but at the same time I am having lots of fun doing it. So I made a decision to change my career path to computer science. During developing 
                    my first app, I was also reading and trying to understand all the concepts of Agile software developement and all the things connected with CI/CD. 
                    Right now I am working as an intern in DevOps team to gain some practical experience.
				</p>

				<%= render "shared/cv_row_img" %>       
	       </p>
			</div>
		</div>
	</div>
</div>	
