<div class="custom-group">
	<div class="btn-group " role="group" aria-label="Basic example">
    <%= link_to "Presentation", presentation_path, class: "btn btn-navcol txt-link btn-custom"%>         
    <%= link_to "Education", education_path, class: "btn btn-navcol txt-link btn-custom" %>   
    <%= link_to "Experience", experience_path, class: "btn btn-navcol txt-link btn-custom" %>
    <%= link_to "Other", other_path, class: "btn btn-navcol txt-link btn-custom"%> 
  </div>
</div>