
  <div class="card" style="padding-top: 15%;" >
  	<div class="text-white text-shadows">
      <div class="card-body">
      	<br>
        <h4 class="card-title cv-txt cv-txt-sm">Hi! I am Natalia!</h4>
        <p class="card-text cv-txt cv-txt-sm">
          I am a acoustic engineer and a beginner developer. 
        </p>
        <p class="card-text cv-txt cv-txt-sm">
          Here I would like to share with you some things about myself, my experience and knowledge 
        </p>
        <br>
        <h4 class="card-title cv-txt cv-txt-sm">To see more about me...</h4>
          <p class="card-text cv-txt cv-txt-sm">
            ...Just slide a little bit down. 
          </p>
        <p> 
         <i class="fa fa-angle-double-down fa-2x text-white" aria-hidden="true"></i> 
         <i class="fa fa-angle-double-down fa-2x text-white" aria-hidden="true"></i> 
         <i class="fa fa-angle-double-down fa-2x text-white" aria-hidden="true"></i> 
        </p>
    </div>
   </div>	 	
  </div>


      
