<div class="jumbotron jumbo-2" >
	<div class=" container-sm">
		<div class="cv-items  container-sm">
			<div class="cv-items">
				<h3 class="text-left topic">anything more about me?</h3>
				<br>

				<h6 class="text-left topic">
					<b>
						MEMBER OF 
						<a href="http://www.knaa.agh.edu.pl" class="normal"> KNAA </a> 
					</b>(
					Scientific Club of Architectural Acoustics)
				</h6>
				<p class="text-left">
					Volunteering: </p>
				<p class="text-left">
					Organizing 3rd <b>OSKA</b> [2016] (polish acoustic conference for students), representing university during "Open Day at AGH" and <a href="#" class="normal"> "Noc naukowcÃ³w"</a> 
				</p>
				<p class="text-left">
					Projects:
				</p>
				<p class="text-left"> 
					ANALYSIS OF PRODUCTIVITY IN OPEN - SPACE OFFICES, prepared with Aleksandra Dębska and Agnieszka Wójtowicz. Presentation at the 4th OSKA conference [2017] 
				</p>
				<!-- <li></li> -->
				</ul>
				<hr>
				<h6 class="text-left topic"><b>COURSES AND WORKSHOPS:</b></h6>
				<p class="text-left">
					<ul class="text-left" style="list-style-type: square;">
						<li> 
							Rails Girls Cracow Workshop (MAY 2017)
						</li>
						<li> 
							Dissecting Ruby on Rails 5 by 
							<a href="www.jordanhudgens.com/" class="normal"> Jordan Hudgens </a> 
						</li>
                        <li> 
							Akademia Rebased course -> see results here: 
							<a href="http://github.com/nejcik/AkademiaRebased" class="normal"> Akademia Rebased Repository</a> 
						</li>
                        <li> 
							Infakt workshops (June 2018) -> see results here: 
							<a href="https://github.com/nejcik/atelier_june_2018" class="normal"> Atelier project</a> 
						</li>
					</ul>
				</p>
				<hr>
				<h6 class="text-left topic"><b>INTERESTS:</b></h6>
				<p class="text-left">
					Sports and travelling - my main hobbies right now. And when I'm  tired of learning, creating or thinking in general and I have no time I just walk and listen to some podcasts - they are rarely about tech. I do it mainly to keep my mind off for a while.
				</p>
			</div>
		</div>
	</div>
</div>
