<!-- FOOTER -->

<footer>
  <% if current_page?(root_path) %>
  	<div class="text-center">
 		 <%=render 'shared/credit_homepage' %> 
 	  </div>
    <div class="text-center" >
      <p> &middot; NS | 2017 &middot;  </p>
    </div> 
    </div>
   <% else%>
      <p> &middot; 2017 &middot; Natalia Skowronek &middot;<%= render "shared/credit_site" %></p>
      <%if !current_page?(about_path)%>
        <%=render 'shared/credit_homepage' %> 
      <%end%>
   <%end%>
</footer>
