<ul class="list-inline">
 	<li class="list-inline-item link-icon"> 
    <a href="https://www.linkedin.com/in/natalia-skowronek-njt/"> 
      <i class="fa fa-linkedin fa-color-green" aria-hidden="true">
      </i>
    </a> 
  </li>
	<li class="list-inline-item link-icon"> 
    <a href="http://gitlab.com/nejcik"> 
      <i class="fa fa-git fa-color-green" aria-hidden="true">
      </i> 
    </a>
  </li>
	<li class="list-inline-item link-icon"> 
    <a href="http://github.com/nejcik"> 
      <i class="fa fa-github fa-color-green" aria-hidden="true">
      </i>
    </a> 
  </li>
</ul>
		 