<div class="navbar navbar-dark navbar-home">
  <div class="container d-flex justify-content-between">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
<div class="collapse navbar-home" id="navbarHeader">
  <div class="container">
    <h4 class="text-white"></h4>
    <ul class="navbar-nav mr-auto ">
      <li><%= link_to "Home", root_path, class: "nav-link text-white"%> </li>
      <li> <%= link_to "About me", about_path, class: "nav-link text-white" %></li>
      <li> <%= link_to "Portfolio", portfolios_path, class: "nav-link text-white" %></li>
      <li> <%= link_to "Contact", contact_path, class: "nav-link text-white" %> 
      <li> <%= admin_page_helper("text-white")%> </li>
    </ul>
  </div>        
</div>
