<nav class="navbar navbar-custom navbar-expand-md navbar-dark fixed-top ">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item ">
        <%= link_to "Home", root_path, class: "nav-link"%> 
      </li>
      <li class="nav-item">
        <%= link_to "About me", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Portfolio", portfolios_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class: "nav-link" %> 
      </li>
      <li class="nav-item">
       <%= admin_page_helper("nav-link") %>  
      </li>
    </ul>
  </div>
  <a class="navbar-brand text-right" href="<%=root_path%>">Natalia Skowronek</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
