<footer class="text-muted">
  <div class="container  text-green">
    <hr>
    <section id="icons-contact icons-contact-green">
    	<div class="row marketing">
  			<div class="col-md-6">
  		    <p>
            &middot; 2017  |  Made by &middot; Natalia Skowronek &middot; using &copy; Bootstrap  &middot;
  		    </p>
  		  </div>
        <div class="col-md-6 text-right">
          <%=render "shared/links" %> 
          <a href="#">Back to top</a>
        </div>
      </div>
    </section>
  </div>
</footer>