<div class="collapse bg-green" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About the author</h4>
        <p class="text-muted">
          I always find something new to do, create or learn. Every new challenge is an opportunity to know more, even if it seems to be terrifying at first.
        </p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">MENU:</h4>
        <ul class="list-unstyled">
          <li><%= link_to "Home", root_path, class: "text-white"%> </li>
          <li> <%= link_to "About me", about_path, class: "text-white" %></li>
          <li> <%= link_to "Portfolio", portfolios_path, class: "text-white" %></li>
          <li> <%= link_to "Contact", contact_path, class: "text-white" %> 
          <li> <%= admin_page_helper("text-white")%> </li>
        </ul>
      </div>
    </div>
  </div>
</div>

