<div class="navbar navbar-dark bg-green">
  <div class="container d-flex justify-content-between">
    <a href="<%= portfolios_path %>" class="navbar-brand">Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>