<div class="jumbotron win-height">
	<h3 style="text-align: center;">MY ADMIN PAGE</h3>
	<br>
	<div class="space">
		<%= login_helper("btn btn-darker") %>
	</div>
	<br>
	<h5 style="text-align: center;"> What would you like to change? </h5> 
	<br>
	<div class ="space">
			<%= link_to "See all CV", about_path, class: "btn btn-darker  btn-space" %> 
			<%= link_to "PORTFOLIO", portfolios_path, class: "btn btn-darker  btn-space"  %>
	</div>

	<div class="space" >
	 	<% if current_user %>
			<%= link_to "New CV", new_curriculum_path, class: "btn btn-darker  btn-space" %> 
			<%= link_to "New Portfolio", new_portfolio_path, class: "btn btn-darker  btn-space"  %>
		<% end %>
	</div>
	<div class="space hr-p">
		<hr>
		<p> All other changes, such as edit and delete are nearby each item :) </p>
	</div>							
</div>
