<!-- jumbotron class for card! -->

<div class="contact win-height">		
  <section id = "img-contact">
  <div class= "container">
    <p> 
      <img src="/images/nejt.JPG" class="rounded-circle img-small"> 
    </p>
  </div>
  </section>

  <section id= "txt-contact">
    <h5>Contact me via email: </h5>
    <p>
      <a href="mailto:nataliaxskowronek@gmail.com?subject=PortfolioContact" "email me" class="btn" >EMAIL ME</a> 
    </p>
    <br>
  </section>
  
  <h5> You can find me: </h5>
  <section id="icons-contact">
    <ul class="list-inline">
      <li class="list-inline-item"> 
        <a href="https://www.linkedin.com/in/natalia-skowronek-njt/"> 
          <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a> 
      </li>
      <li class="list-inline-item"> 
        <a href="http://gitlab.com/nejcik"> 
          <i class="fa fa-git fa-2x" aria-hidden="true"></i> 
        </a>
      </li>
      <li class="list-inline-item"> 
        <a href="http://github.com/nejcik"> 
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a> 
      </li>
    </ul>
  </section>
</div>
