<div class="container min-height" style="padding-top: 12%;">
	<h3>Credit:</h3>
	<p>
		<a class="normal" href="http://www.iconninja.com/"> ICON NINJA </a>
	</p>
	<p>
		<a class="normal" href="http://www.thecuriouslycreative.com">http://www.thecuriouslycreative.com/</a>
	</p>

	<p>
		Text correction: Ola Dębska
	</p>
	<div>Icons made by <a class="normal" href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a  class="normal" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a class="normal" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

	<p>
		Background image by: Cassey Fyfe
	</p>
	<p>
		Photographies from "about me" page: Alicja Warchał. Mateusz Wójcik.
	</p>

	<p>
		Animation from homepage: <a class="normal" href="http://www.thecuriouslycreative.com/">Yoann</a>
	</p>
</div>