<%= render "shared/nav_home" %>
  <div class="win-height">
    <div class="container row" style="padding-top:3%">
      <div class=" container  pullRightLeft text-home">
        <%= link_to "HOME", root_path, class: "link-home"%>
        <%= link_to "ABOUT", about_path, class: "link-home" %>
        <%= link_to "PORTFOLIO", portfolios_path, class: "link-home" %>
        <%= link_to "CONTACT", contact_path, class: "link-home" %>
      </div>
    </div>
    <br>
    <div class = "row"  style="padding-bottom:5%">
      <div class="col-md-6 text-left text-center-sm ns-div" >
      </div>
      <div class="col-md-4 text-left text-center-sm ns-div" >
        <div class="container row text-home" style="padding-top:3%; max-width: 20%">
          <h3>Natalia</h3>
          <h3>Skowronek</h3>
          <h1>portfolio</h1>
        </div>
      </div>
    </div
  </div>