
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "icons.scss";
@import "gritter";

@font-face {
  font-family: 'Comfortaa';
  src:font-url('Comfortaa-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src:font-url('OpenSans-Light.ttf');
}

/* Show it is fixed to the top */
body {
  min-height: 40rem;
  font-family: 'Open Sans';
}



/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


 h1, .h1,
 h2, .h2,
 h3, .h3,
 h4, .h4,
 h5, .h5,
 h6, .h6 {
   font-family: 'Comfortaa';
 }


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
.btn-dark:hoover{
  background-color: #242424;
  color: #48483b;
  border-color: #242424;

}

.btn-dark{
  background-color: #48483b;
  color:#48483b;
  border-color: #242424;

}

.btn-dark:active:hoover{
  background-color: #48483b;
  color: #48483b;
  border-color: #242424;

}



/*
 * Base structure
 */

html,
body {
  height: 100%;
  
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
body.about {
  background-color: rgb(31,31,31)
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
 
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  padding-right: 10rem;

}
.cover-container {
  margin-right: 20rem;
  margin-left: 20rem;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

/* change the background color */
.navbar-custom {
    background-color: rgb(31,31,31);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }f
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    padding-top: 5rem;
    vertical-align: top;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;

}


/* Customize container */
@media (min-width: 48rem) {
  .container {
    max-width: 100%;

  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  /*min-width: 50rem;*/
  /*min-height: 30rem;*/
  text-align: center;
  background-color: rgba(36,36,36, 0.6);
  margin-bottom: 0;
  padding-bottom: 0.01rem;
  border-radius: 0;
}
.jumbotron .btn {
  padding: .6rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 1rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border: 0;
  }
}



/* CUsTOM*/
div.container a.normal{
  margin: 0;
  padding:0;
}
a.normal{
  margin: 0;
  padding:0;
}

/* LINKS */
.fa-hover:hover{
  opacity: 0.8;
}

.text-white{
  
}
.text-shadows{
  text-shadow: 0px 0 4px #212529;
}

.text-sm{
  font-size: 95%;

  text-shadow: 0px 1px 1px #212529;
}
.text-sm-2{
  font-size: 90%;
  /*color: #212529;*/
  /*opacity: 0.9;*/
}
.form-control{
  opacity: 0.8;
}
.space {
  margin: .5rem;
}

.card, .card-body{
  background-color: rgba(36,36,36,0);
  border: .05rem solid rgba(36,36,36,0);
}

.img-container {
  text-align: center;
  padding-top: 0.6rem;
}

.img-small{
  width: 100px;
  height: 100px;
}

.btn-custom{
  color: #242424;
}
.btn-custom:hover{
  color: #242424;
  }


.btn-darker{
  color: #ffff;
  background-color: #a66f0c;
  opacity: 1;
}

/* BACKGROUND IMAGE */
#background{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('casey-fyfe-3341.jpg') no-repeat;
  background-size: cover;
}

.basic-background {
  background-color: rgb(31,31,31);
}


/* CONTACT PAGE CUSTOMS */

#img-contact {
  padding: 2rem;

}

.contact{

  text-align: center;
  padding-top: 1rem;
 
}

#txt-contact{
  margin-top: 1.2rem;
}

/*BUTTONS -> for CV item (model with JQuery - DO IT LATER) */
.btn:focus,
.btn.focus{
outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.btn-space {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.btn-navcol {
 background-color: rgba(181,131,18,0);
}
.btn-navcol:hover{
   /*background-color: rgb(141,103,14);*/
   color: rgba(255,255,255,0.8);
  
}


.btn-navcol:active {
  border-radius: 0, rgba(0,0,0,0);
 background-color: rgba(181,131,18,0);
}

.custom-group {
  text-align: center;
  margin-top: 2rem;
}

/* OTHER JUMBOTRONS */
.parallax { 
    /* The image used */
    background-image: url('F1030026.JPG');

    /* Full height */
    height: 100%; 
    /*width:100%;*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 { 
    /* The image used */
    background-image: url('_3186443.JPG');

    /* Full height */
    height: 100%; 
    /*width:100%;*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-2 {
  width: 100%;
  background-color: #a66f0c;
  padding: 0.1rem;
  border-radius: 0, rgba(0,0,0,0);
}

.jumbo-3{
    width: 100%;
      background-color: rgba(36,36,36, 0);
      text-align: center;
      padding: 0.06rem;
}

.jumbo-4{
  width:100%;
  background-color: #1f1f1f;
  padding: 0.5rem;
}

/* CUSTOM FOR ABOUT ME [CV] */

.cv-container{ 
  margin:0.2rem;
  padding: 0.2rem; 
}

.cv-justify{
  text-align: justify;
}

#short-text{
  color: rgba(255,255,255,0.8);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.cv-txt{
  

    font-family: Raleway;
   
  }

.cv-dark {
  color:  #1f1f1f;

    font-family: Raleway;
 
}

.cv-items{
  h3 .cv-txt{

    font-family: Raleway;
   
  }

  padding: 0.5rem;
}
/* Fontawesome space */
.fa-space {
  margin: 0.7rem;
}

/* SKILLS */

.skill {
  padding-top: 0.4rem;
}
.skill-list {
  margin: 2%;
}


/* Skill spacing not much - margings for left & right*/
.sk-left{
  padding-left: 5%;
}
.sk-right{

  padding-right: 5%;
}

/*other spacing bottom */

.sk-pad{
  padding-bottom: 0.1rem;
}
/* ICONS between jumbo-2 (start) and jumbo-3 (skills) */

.icons{
  margin: 1rem;
  opacity: 0.85;
}

.container-sm{
  padding: 1% 8%;
}


/* TABLETS & OTHER */


@media only screen and (min-width: 569px) and (max-width: 983px){
  container-sm{
    padding: 5%;
    margin: 0;
    width:96%;
  }

  .container-sm.c-right {
      margin-right:0;
      padding-right: 0.1%;
      padding-left: 50%;
    }

  .skill-column{
    max-width: 100%;
    /*padding-left: 5%;*/

    text-align: center;
  }
  .skill-list{
    font-size: 95%;
    width: 100%;
    margin: none;
    .text-right{
      margin: none;
    }

    transition: width 0.7s;
  }
  .cv-item{
    font-size: 95%;
  }
/*
  .cv-txt{
    font-size: 98%;
    font-style: bold;
  }*/
  .skill{
    width:100%;
    padding: 0;
  }
  .skills{
    width: 50%;
    margin: 0;

  }

  .skill-left{
    padding-left: 20%;
    transition: width 0.7s;
  }
  .skill-right{
    padding-right: 20%;

    transition: width 0.7s;
  }
  
  .col-lg-6{
    transition: width 0.7s;
  }
  .col-md-4{
    max-width: 33%;
  }
  .icons{
    width: 35%;

  }
}

/* MOBILE DEVICES */

@media only screen  and (max-width: 568px){

  .jumbotron{
    max-width: 100%;
  }
  .container-sm.c-right {
      margin-right:0;
      padding: 0.01%;

    transition: width 5s;
    }
  .container-sm{
    padding: 0.01%;
    margin: 0;


    transition: width 5s;

  }
  .skill-column{
    width: 100%;
    /*padding-left: 2%;*/

    text-align: center;
  }
  .cv-items {
    font-size: 87%;

  }

  .cv-txt.cv-txt-sm{
    text-align: right;
  }

  .col-lg-6{
    transition: width 0.7s;
  }


  .skill {
    width: 100%;
    transition: width 0.5s;
  }

  .skill-list{
    font-size: 88%;
    width: 100%;
    margin-right: 0;
    .text-right{
      margin: 0;
    }
    transition: width 0.7s;
  }

  .skills{
    max-width: 50%;
    margin: 0;
  }
  .card-img{
    width: 100%;
  }

  .icons{
    width: 20%;
  }
}