@import 'https://fonts.googleapis.com/css?family=Raleway';

/* HOME */


.win-height{
	width: 100%;
}

/* for TEXT */
body {
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  /*background-color: #34495e;*/

}

div.container
{
  margin: 0 auto;
  padding: 0em 3em;
  text-align: center;
}

/* customs *//*
button.navbar-toggler:active{
  border-radius: 0.1, rgba(31,31,31,0.4);
  background-color: rgba(31,31,31,0.2);
}  */

h3, h1, h4 {
  font-family: 'Sacramento', cursive;
}

h3 {
  font-size: 3.7rem;
}

h1 {
    font-size: 4.1rem;
}

.logo{
  width: 100%;
  padding-left: 25%;
  padding-top: 7%;
  padding-right: 2%;
  padding-bottom: 2%;
  opacity: 0.85;
}

/*
.nav-home{
  margin: 10%;
}*/

.navbar-home{
  background-color: rgba(0,0,0,0);
  /*height: 100px;*/
  /*padding-top: 12%;*/
  padding-bottom:0;
}

.navbar-toggler-icon:active{
  color:#242424;
}

.col-md-4.text-left{
  padding-top: 12%;
}
  
.logo{
  opacity: 0.8;
}

footer{
  padding-top: 2%;
}
.row{
  text-align: center;
  margin: 0 auto;
}

div.navbar.navbar-dark.navbar-home{
  display: none !important;
}

@media only screen and (min-width: 770px) and (max-width: 990px){
  .col-md-4.text-left{
    padding-top: 4%;
    width: 100%;
  }
  
  
  div.container.row div.container.pullRightLeft{
    display: none !important;
    height: 2px;
  }

  a.link-home {
    width: 100%;
  }

  div.navbar.navbar-dark.navbar-home{
    display: block !important;
  }

}

@media only screen and (max-width: 770px){
  
  div.container.pullRightLeft{
    display: none !important;
  }
  
  div.navbar.navbar-dark.navbar-home{
    height: 2px;
    display: block !important;
  }
  
  .col-md-6{
    width: 0%;
  }

  .col-md-4.text-left.text-center-sm {
  
    text-align: center;
    width: 60%;
    margin-left:0%; 
    
  }

  footer{
    width:100%;
  }
  
  footer.col-md-6.text-right{
    width:100%;
    text-align: center;
    }
  
}
