@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 0px;
}

.deepDark
{
    background: rgb(31,31,31);
}

div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 0.8em 3em;
	text-align: center;
	width: 100%;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 16px Raleway;
    margin: 0px 20px;
    padding: 5px 7px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


/* Pull right and left  */
div.pullRightLeft a:before, div.pullRightLeft a:after
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRightLeft a:before
{
    left: 0px;
} 

div.pullRightLeft a:after
{
    right: 0px;
}

div.pullRightLeft a:hover:before, div.pullRightLeft a:hover:after
{
    width: 100%;
}

/* custom */
div.container a.link-home{
    font-size: 150%;
    padding: 10px 10px;  
    text-align: center;

}

div.container.txt-left{
    text-align: left;
}