@import "bootstrap";
@import "jquery-ui";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "icons.scss";
@import "gritter";


@font-face {
  font-family: 'Poiret One';
  src:font-url('PoiretOne-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  src:font-url('Ubuntu-Light.ttf');
}

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  font-family: 'Ubuntu';
 
}

 h1, .h1,
 h2, .h2,
 h3, .h3,
 h4, .h4,
 h5, .h5,
 h6, .h6 {
   font-family: 'Poiret One';
 }

 p, a{
 font-family: 'Ubuntu';
 }

.navbar {
  margin-bottom: 0;

}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 80%;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 75%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 80%;
}

footer p {
  margin-bottom: .25rem;
}

/* CUSTOM */

/*tech tags*/
.tech-tag{
  padding-top: 0.6rem;
}

/* Buttons */
.bg-green, .btn-green {
	background-color: #242;
}

.btn-green-secondary{
	background-color: #242;
	opacity: 0.7;
}

.btn-green:hover{
	color: #242424;
	opacity: 0.9;
	} 
.btn-green-secondary:hover{
	opacity: 0.5;
}

.btn-green:focus, .btn-green-secondary:focus{
	opacity: 0.6;
}
.btn-padding{
  padding: 10px;
  margin: 10px 10px 5px 5px;
  
}

/* min-width for container */

.container-sized{
  min-width: 100rem;
}

.text-green{
  color: #242;
}

.portfolio-container{
  padding-top: 30px;
}

/* colors for links */


a {
  color: #242424;
}
a:hover {
  opacity: 0.85;
  color: #242424;
}
/*image in portfolio show action */
.main-image{
  border-radius: 0.1rem;
  text-align: center;
  
}

.col-md-12{
  text-align: justify;
}

/* */
/*TABLETS ETC*/
@media only screen and (min-width: 569px) and (max-width: 980px){
  .jumbotron-heading{
    font-size: 98%;
  }

  .text-muted{
   font-size: 90%;
  }

}



/* MOBILE DEVICES */

@media only screen and (min-width: 320px) and (max-width: 568px){
  .jumbotron-heading{
    font-size: 96%;
  }

  .text-muted{
    font-size: 80%;
  }

  
}