

/* FIRST SLIDER right to left */


.container.slider-1 {
  position: relative;
  width: 100%;
  padding: 0;
  margin:0;
  height: 350px;
}


.overlay-1 {

  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  background-color: #a66f0c;
}

.container.slider-1:hover .overlay-1 {
  left: 0;
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*SECOND right to left */

.container.slider {
  position: relative;
  width: 100%;
  padding: 0;
  height: 350px;
}

.overlay-2nd {

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #a66f0c;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container.slider:hover .overlay-2nd {
  width: 100%;
}

.text, .txt-slider {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
