<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> | <%= @base_title %> </title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag   'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>

    <% if current_page?(root_path) %>
    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 
  <body> 
    <%= render "shared/background_img" %>

    <% unless current_page?(root_path) %>
      <%= render "shared/navbar", location: "top"%>
    <%end%>
    <%= yield %>
    <%= render "shared/footer"%>
    <%= alerts %>
  </body>
</html>
