<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> | <%= @base_title %> </title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag   'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'sliders', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="">
    <div id="background" style="<%= current_page?(about_path) ? "display: none !important;" :''%>" >
    </div>
    <div class="win-height">
      <div id="output_width" class="text-white">
      </div>
      <%= render "shared/navbar", location: "top"%>
      <%= render "cv_main_jumbotron" %>
      <%= yield %>
      <div class="<%= current_page?(about_path) ? "jumbotron parallax-2" :'' %>">  
        <div class="container-fluid">
          <br>
        </div>
        <%= render "shared/footer"%>
      </div>
      <%= alerts %>
    </div>
  </body>
</html>
