<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> | <%= @base_title %> </title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Start of nav -->
    <%= render "shared/portfolio_nav" %>
    <!-- end of nav -->
    <!-- start of masthead -->
    <%= render "shared/portfolio_masthead" %>
    <!-- end of masthead -->
    <!-- COS -->
    <%= render "portfolio_jumbotron" %>
    <!-- COS -->
    <%= yield %> 
     <%= render "shared/portfolio_footer"%>
    </div>
    </div>
    </div>

    <%= alerts %>
  </body>
</html>
